.post .title {
  font-size: 1.25rem;
  margin-bottom: 0.3125rem;
  line-height: 1.25rem;
  color: #000;
  font-weight: 400;
}
.post .meta {
  margin-bottom: 2.0625rem;
}
.post .meta .dates {
  color: #bbb;
  font-size: 0.8125rem;
}
.post .content p {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #494949;
}
.post .content h1 {
  font-size: 1.25rem;
  font-weight: 400;
}
.post .content h2 {
  font-size: 1.125rem;
  font-weight: 400;
}
.post .content h3 {
  font-size: 1rem;
  font-weight: 400;
}
.post .content h4 {
  font-size: 0.875rem;
  font-weight: 400;
}
.post .content h5 {
  font-size: 0.75rem;
  font-weight: 400;
}
.post .content h6 {
  font-size: 0.625rem;
  font-weight: 400;
}
